@tailwind base;
@tailwind components;
@tailwind utilities;

bg-images {
    background-color: '#cccccc';
    /* Used if the image is unavailable */
    background-position: 'right';
    /* Center the image */
    background-repeat: 'no-repeat';
    /* Do not repeat the image */
    background-size: 'cover'
    /* Resize the background image to cover the entire container */
}